@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  position: relative;
  padding-bottom: 13rem;
  min-height: 100vh;
}

header nav ul li a:hover,
footer nav ul li a:hover {
  color: #810281;
}

.final {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* inicio de header */
header {
  background-image: linear-gradient(to right top, #810281, #983897, #af5bae, #c57dc4, #dc9edb, #d19acc, #c696bd, #ba92b0, #8a6b7e, #5c4751, #302629, #000000);
}

.registrarse1 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  margin-right: 2rem;
}

a {
  text-decoration: none;
}

.menu {
  list-style-type: none;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
}
.menu li {
  display: inline;
  margin-left: 6rem;
}

nav ul li a {
  color: black;
}

#Inicio h1 {
  font-size: 3rem;
  color: #810281;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline-flex;
}
#Inicio img {
  box-sizing: content-box;
  width: 5rem;
  height: 5rem;
  margin-left: 2rem;
  padding: 2rem;
}

/* final de header */
/* inicio home page */
.promo P {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}

.mujer {
  position: relative;
  bottom: 90rem;
  right: 15rem;
  color: white;
  border-radius: 20px;
  width: 56rem;
  height: 5rem;
  background-color: #810281;
}

.mujer1 {
  position: relative;
  bottom: 90rem;
  right: 5rem;
  color: #810281;
  border-radius: 20px;
  width: 30rem;
  height: 5rem;
  background-color: #facbfa;
}

.entrenador {
  position: relative;
  bottom: 80rem;
  right: 25rem;
  color: white;
  border-radius: 20px;
  width: 52rem;
  height: 5rem;
  background-color: #810281;
}

.entrenador1 {
  position: relative;
  bottom: 80rem;
  right: 15rem;
  color: #810281;
  border-radius: 20px;
  width: 30rem;
  height: 5rem;
  background-color: #facbfa;
}

/* final home page */
/* inicio informacion */
#Informacion h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 4rem;
}
#Informacion p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

.cartas {
  padding: 5rem;
  display: flex;
}
.cartas div {
  border-radius: 20px;
  width: 35rem;
  height: 30rem;
  background-color: white;
  margin-left: 3rem;
  box-shadow: 0px 0px 1rem #810281;
}
.cartas h3 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}
.cartas p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  display: flex;
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.cartas img {
  margin-left: 10rem;
}

.cartas1 h3 {
  margin-left: 10rem;
}

.cartas2 h3 {
  margin-left: 2rem;
}

.cartas3 h3 {
  margin-left: 8rem;
}

.cartas4 h3 {
  margin-left: 5rem;
}

.cartas5 h3 {
  margin-left: 7rem;
}

.valiosos h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 4rem;
}
.valiosos p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-left: 19rem;
  margin-right: 19rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-left: 8.5rem;
}
.galeria img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2%;
}

.galeria-uno {
  grid-column: 1/5;
  grid-row: 1/2;
}

.galeria-dos {
  grid-column: 2/5;
  grid-row: 1/2;
}

.galeria-tres {
  grid-column: 3/5;
  grid-row: 1/2;
}

.galeria-cuatro {
  grid-column: 4/5;
  grid-row: 1/2;
}

.galeria-cinco {
  grid-column: 5/5;
  grid-row: 1/2;
}

.galeria-seis {
  grid-column: 1/5;
  grid-row: 2/2;
}

.galeria-siete {
  grid-column: 2/5;
  grid-row: 2/2;
}

.galeria-ocho {
  grid-column: 3/5;
  grid-row: 2/2;
}

.galeria-nueve {
  grid-column: 4/5;
  grid-row: 2/2;
}

.galeria-diez {
  grid-column: 5/5;
  grid-row: 2/2;
}

/* final informacion */
/* inicio acceso */
.quienes h2 {
  font-size: 6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 4rem;
}
.quienes div {
  display: block;
  text-align: justify;
}
.quienes h3 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}
.quienes p {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.cp img {
  position: relative;
  left: 20rem;
}
.cp h3 {
  position: relative;
  left: 115rem;
  top: 30rem;
}
.cp p {
  position: relative;
  left: 90rem;
  bottom: 50rem;
}

.pi img {
  position: relative;
  left: 100rem;
}
.pi h3 {
  position: relative;
  top: 25rem;
  left: 25rem;
}
.pi p {
  position: relative;
  bottom: 50rem;
  left: 10rem;
}

.ps img {
  position: relative;
  left: 20rem;
}
.ps h3 {
  position: relative;
  left: 110rem;
  top: 30rem;
}
.ps p {
  position: relative;
  left: 111rem;
  bottom: 60rem;
}

/* final acceso */
/* inicio contacto */
#Contactanos h2 {
  font-size: 10rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  position: relative;
  top: 30rem;
  color: white;
}
#Contactanos p {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  position: relative;
  bottom: 10rem;
  color: white;
}

.flecha {
  display: block;
  margin: auto;
  position: relative;
  bottom: 4rem;
}

.contacto h3 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.contacto p {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}
.contacto h4 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}
.contacto section h3 {
  position: relative;
  text-align: center;
}
.contacto section p {
  position: relative;
  text-align: center;
}

.envianos {
  margin-left: 40rem;
  position: relative;
  top: 7rem;
}
.envianos img {
  margin-left: 20rem;
}
.envianos h4 {
  margin-left: 12rem;
}
.envianos p {
  margin-left: 2rem;
}

.soporte {
  display: block;
  margin-left: 100rem;
  position: relative;
  bottom: 5rem;
}
.soporte img {
  margin-left: 23rem;
}
.soporte h4 {
  margin-left: 22rem;
}

/* final contacto */
/* inicio mi cuenta*/
#Micuenta h2 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  padding: 4rem;
}
#Micuenta p {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-align: justify;
  display: block;
  margin: 2rem;
}

.cuenta h3 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.cuenta p {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.cuenta label {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.cuenta ul {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}

.izq {
  border-radius: 20px;
  width: 70rem;
  height: 30rem;
  background-color: white;
  margin-left: 3rem;
  box-shadow: 0px 0px 1rem #810281;
  margin-left: 20rem;
  position: relative;
  top: 10rem;
}
.izq h3 {
  margin-left: 22rem;
}
.izq p {
  margin-left: 2rem;
  margin-right: 2rem;
  position: relative;
  top: 1rem;
}
.izq .btn {
  margin-left: 27rem;
  position: relative;
  top: 3rem;
}

.der {
  border-radius: 20px;
  width: 70rem;
  height: 30rem;
  background-color: white;
  margin-left: 3rem;
  box-shadow: 0px 0px 1rem #810281;
  display: flex;
  flex-direction: column;
  margin-left: 107rem;
  position: relative;
  bottom: 20rem;
}
.der h3 {
  margin-left: 19rem;
}
.der .btn {
  margin-left: 27rem;
  position: relative;
  top: 2rem;
}
.der label {
  margin-left: 28rem;
  position: relative;
  top: 1rem;
}
.der input {
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  top: 1rem;
}

.btn {
  border-radius: 10%;
  width: 13.5rem;
  height: 5rem;
  background-color: #facbfa;
  padding: 1.5rem;
  list-style-type: none;
}
.btn li a {
  color: black;
}
.btn li a span {
  margin-left: 0.5rem;
}

/* final mi cuenta */
/* footer para todas las html iguales*/
footer {
  background-image: linear-gradient(to right top, #810281, #983897, #af5bae, #c57dc4, #dc9edb, #d19acc, #c696bd, #ba92b0, #8a6b7e, #5c4751, #302629, #000000);
}
footer nav .seguinos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
footer nav .contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.contactanosSvg {
  display: flex;
  justify-content: center;
}

svg {
  color: black;
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.final {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.final h2 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.final h3 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.final h4 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.final h5 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: justify;
}
.final ul {
  display: flex;
  align-items: center;
}
.final nav {
  display: flex;
  justify-content: center;
}
.final p {
  margin-inline-start: 68rem;
}

/* Final footer para todas las html iguales *//*# sourceMappingURL=styles.css.map */