
/* footer para todas las html iguales*/

footer {
    background-image:linear-gradient(to right top, #810281, #983897, #af5bae, #c57dc4, #dc9edb, #d19acc, #c696bd, #ba92b0, #8a6b7e, #5c4751, #302629, #000000);
    nav {
        .seguinos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
        }
        .contactanos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;
            @include tablet {
                h2{
                    margin-left: 30rem;
                }
                h5 {
                    margin-left: 30rem;
                }
            }
            @include mobile {
                margin-left: 9rem;
                }
            }
        }
    }


.contactanosSvg {
    display: flex;
    justify-content: center;
    @include mobile {
        margin-right: 8rem;
    }
}

svg {
    color: $negro;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.final {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: justify;
    h2 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    h3 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    h4 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    h5 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    ul {
        display: flex;
        align-items: center;
        @include tablet {
            font-size: 1rem;
            font-weight: 300;
            li {
                display: inline-flex;
                position: relative;
                left: 14rem;
                font-size: 2rem;
            }
        }
        @include mobile {
            font-size: 1rem;
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            li {
                margin-inline-start: 50rem;
            }
        }
    }
    nav {
        display: flex;
        justify-content: center;
        @include tablet {
            display: block;
        }
        @include mobile {
            display: block;
        }
    }
    p {
        margin-inline-start: 68rem;
            @include tablet {
                margin-inline-start: 3rem;
                font-size: 2.3rem;
            }
            @include mobile {
                margin-inline-start: 1rem;
                font-size: 1rem;
            }
    }
}

/* Final footer para todas las html iguales */