
@media screen and (min-width: 320px)and (max-width: 767px) {
    /* home page */
    #Inicio {
        img {
            width: 10rem;
            height: 10rem;
            margin-left: 5rem;
            padding: 1rem;
            box-sizing: content-box;
        }
        h1 {
            font-size: 3rem;
            color: #810281;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            display: inline-flex;
            position: relative;
            top: 1rem;
        }
    }
}

.registrarse1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header {
    .menu {
        list-style-type: none;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        li {
            display: block;
            margin-right: 8rem;
        }
    }
}

.final {
    nav {
        display: block;
        justify-content: center;
    }
    ul {
        font-size: 1rem;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        li {
            display: inline-flex;
            position: relative;
            right: 1.5rem;
            font-size: 1rem;
        }
    }
    p {
        margin-inline-start: 1rem;
        font-size: 1rem;
    }
}

footer {
    nav {
        .contactanos {
            h2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 8rem;
            }
        }
    }
} 

.contactanosSvg {
    display: flex;
    justify-content: center;
}
/* final home page */

/* inicio de contacto */
#Inicio {
    h1 {
        font-size: 3rem;
        color: #810281;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        display: inline-flex;
        position: relative;
        bottom: 4rem;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
        position: relative;
        top: 3rem;
    }
}

#Contactanos {
    p {
        font-size: 1.7rem;
        text-align: center;
        position: relative;
        bottom: 7rem;
    }
}

.flecha {
    display: block;
    margin: auto;
    position: relative;
    bottom: 6rem;
}


.contacto {
    section {
        h3 {
            font-size: 1.7rem;
            position: relative;
            text-align: center;
            bottom: 5.7rem;
        }
        p {
            font-size: 1rem;
            position: relative;
            text-align: center;
            bottom: 6rem;
        }
    }
}

.envianos {
    display: block;
    position: relative;
    margin-inline-start: 1rem;
    img {
        margin-left: 12rem;
        position: relative;
        bottom: 13.6rem;
    }
    h4 {
        font-size: 1.5rem;
        margin-left: 7rem;
        position: relative;
        bottom: 13.5rem;
    }
    p {
        font-size: 0.9rem;
        margin-right: 2rem;
        position: relative;
        bottom: 14rem;
    }
}

.soporte {
    display: block;
    position: relative;
    margin-inline-start: 1rem;
    bottom: 8rem;
    img {
        margin-left: 12rem;
    }
    h4 {
        font-size: 1.5rem;
        margin-left: 11.5rem;
    }
    p {
        position: relative;
        bottom: 0.5rem;
        font-size: 1rem;
        margin-right: 4rem;
        margin-left: 4rem;
    }
}

.final {
    ul {
        li {
            margin-inline-start: 1.7rem;
            font-size: 1rem;
        }
    }
}

footer {
    nav {
        .contactanos {
            h5 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 8rem;
            }
        }
    }
}
/*    Final mediaquery mobil        */