
@import "./variables";
@import "./reset";

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    position: relative;
    padding-bottom: 13rem;
    min-height: 100vh;
}

header nav ul li a:hover,
footer nav ul li a:hover {
    color: $violeta;
}

.final {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* inicio de header */
header {
    background-color:$violetaClaro;
}

.registrarse1 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    margin-right: 2rem;
}

a {
    text-decoration: none;
}

.menu {
    list-style-type: none;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    li {
        display: inline;
        margin-left: 6rem;
    }
}

nav {
    ul {
        li {
            a{
                color: $negro;
            }
        }
    }
}
#Inicio {
    h1 {
    font-size: 3rem;
    color: $violeta;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-flex;
    }
    img {
        box-sizing: content-box;
        width: 5rem;
        height: 5rem;
        margin-left: 2rem;
        padding: 2rem;
    }
}
/* final de header */

/* inicio home page */
.promo P {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: justify;
}

.mujer {
    position: relative;
    bottom: 90rem;
    right: 15rem;
    color:$blanco;
    border-radius: 20px;
    width: 56rem;
    height: 5rem;
    background-color: $violeta;
}

.mujer1 {
    position: relative;
    bottom: 90rem;
    right: 5rem;
    color:$violeta;
    border-radius: 20px;
    width: 30rem;
    height: 5rem;
    background-color: $violetaClaro;
}

.entrenador {
    position: relative;
    bottom: 80rem;
    right: 25rem;
    color: $blanco;
    border-radius: 20px;
    width: 52rem;
    height: 5rem;
    background-color: $violeta;
}

.entrenador1 {
    position: relative;
    bottom: 80rem;
    right: 15rem;
    color:$violeta;
    border-radius: 20px;
    width: 30rem;
    height: 5rem;
    background-color: $violetaClaro;
}
/* final home page */

/* inicio informacion */
#Informacion {
    h2 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 4rem;
    }
    p {
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.cartas {
    padding: 5rem;
    display: flex;
    div {
        border-radius: 20px;
        width: 35rem;
        height: 30rem;
        background-color: $blanco;
        margin-left: 3rem;
        box-shadow: 0px 0px 1rem $violeta;
    }   
        h3 {
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            text-align: justify;
        }
        p {
            font-size: 1.8rem;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: justify;
            display: flex;
            margin-right: 1rem;
            margin-left: 0.5rem;
            }
        img {
            margin-left: 10rem;
        }
}

.cartas1 h3 {
    margin-left: 10rem;
}

.cartas2 h3 {
    margin-left: 2rem;
}

.cartas3 h3 {
    margin-left: 8rem;
}

.cartas4 h3 {
    margin-left: 5rem;
}

.cartas5 h3 {
    margin-left: 7rem;
}

.valiosos {
    h2 {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 4rem;
    }
    p {
        font-size: 1.8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        margin-left: 19rem;
        margin-right: 19rem;
    }
}

.galeria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    margin-left: 8.5rem;
    img {
        height: 80%;
        object-fit:cover ;
        border-radius: 2%;
    }
}

.galeria-uno {
    grid-column: 1/5;
    grid-row: 1/2;
}
.galeria-dos {
    grid-column: 2/5;
    grid-row: 1/2;
}
.galeria-tres {
    grid-column: 3/5;
    grid-row: 1/2;
}
.galeria-cuatro {
    grid-column: 4/5;
    grid-row: 1/2;
}
.galeria-cinco {
    grid-column: 5/5;
    grid-row: 1/2;
}
.galeria-seis {
    grid-column: 1/5;
    grid-row: 2/2;
}
.galeria-siete {
    grid-column: 2/5;
    grid-row: 2/2;
}
.galeria-ocho {
    grid-column: 3/5;
    grid-row: 2/2;
}
.galeria-nueve {
    grid-column: 4/5;
    grid-row: 2/2;
}
.galeria-diez {
    grid-column: 5/5;
    grid-row: 2/2;
}
/* final informacion */

/* inicio acceso */
.quienes {
    h2 {
        font-size: 6rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 4rem;
    }
    div {
        display: block;
        text-align: justify;
    }
        h3 {
            font-size: 3rem;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            text-align: justify;
        }
        p {
            font-size: 1.8rem;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            text-align: justify;
        }
}

.cp {
    img {
        position: relative;
        left: 20rem;
    }
    h3 {
        position: relative;
        left: 115rem;
        top: 30rem;
    }
    p {
        position: relative;
        left: 90rem;
        bottom: 50rem;
    }
}

.pi {
    img {
        position: relative;
        left: 100rem;
    }
    h3 {
        position: relative;
        top: 25rem;
        left: 25rem;
    }
    p {
        position: relative;
        bottom: 50rem;
        left: 10rem;
    }
}

.ps {
    img {
        position: relative;
        left: 20rem;
    }
    h3 {
        position: relative;
        left: 110rem;
        top: 30rem;
    }
    p {
        position: relative;
        left: 111rem;
        bottom: 60rem;
    }
}
/* final acceso */

/* inicio contacto */
#Contactanos {
    h2 {
        font-size: 10rem;
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        text-align: center;
        position: relative;
        top: 30rem;
        color:$blanco;
    }
    p {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: center;
        position: relative;
        bottom: 10rem;
        color: $blanco;
    }
}

.flecha {
    display: block;
    margin: auto;
    position: relative;
    bottom: 4rem;
}

.contacto {
    h3 {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    p {
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        text-align: justify;
    }
    h4 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        text-align: justify;
    }
    section {
        h3 {
            position: relative;
            text-align: center;
        }
        p {
            position: relative;
            text-align: center;
        }
    }
}

.envianos {
    margin-left: 40rem;
    position: relative;
    top: 7rem;
    img {
        margin-left: 20rem;
    }
    h4 {
        margin-left: 12rem;
    }
    p {
        margin-left: 2rem;
    }
}

.soporte {
    display: block;
    margin-left: 100rem;
    position: relative;
    bottom: 5rem;
    img {
        margin-left: 23rem;
    }
    h4 {
        margin-left: 22rem;
    }
}
/* final contacto */

/* inicio mi cuenta*/
#Micuenta {
    h2 {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 4rem;
    }
    p {
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
        text-align: justify;
        display: block;
        margin: 2rem;
    }
}

.cuenta {
    h3 {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    p {
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    label {
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    ul {
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
}

.izq {
    border-radius: 20px;
    width: 70rem;
    height: 30rem;
    background-color: $blanco;
    margin-left: 3rem;
    box-shadow: 0px 0px 1rem $violeta;
    margin-left: 20rem;
    position: relative;
    top: 10rem;
    h3 {
        margin-left: 22rem;
    }
    p {
        margin-left: 2rem;
        margin-right: 2rem;
        position: relative;
        top: 1rem;
    }
    .btn {
        margin-left: 27rem;
        position: relative;
        top: 3rem;
    }
}

.der {
    border-radius: 20px;
    width: 70rem;
    height: 30rem;
    background-color:$blanco;
    margin-left: 3rem;
    box-shadow: 0px 0px 1rem $violeta;
    display: flex;
    flex-direction: column;
    margin-left: 107rem;
    position: relative;
    bottom: 20rem;
    h3 {
        margin-left: 19rem;
    }
    .btn {
        margin-left: 27rem;
        position: relative;
        top: 2rem;
    }
    label {
        margin-left: 28rem;
        position: relative;
        top: 1rem;
    }
    input {
        margin-left: 5rem;
        margin-right: 5rem;
        position: relative;
        top: 1rem;
    }
}

.btn {
    border-radius: 10%;
    width: 13.5rem;
    height: 5rem;
    background-color: $violetaClaro;
    padding: 1.5rem;
    list-style-type: none;
    li {
        a { 
            color:$negro;
            span {
                margin-left: 0.5rem;
            }
        }
    }
}
/* final mi cuenta */

/* footer para todas las html iguales*/
footer {
    background-color:$violetaClaro;
    nav {
        .seguinos {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
        }
        .contactanos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1rem;
        }
    }
}

.contactanosSvg {
    display: flex;
    justify-content: center;
}

svg {
    color: $negro;
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.final {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: justify;
    h2 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    h3 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    h4 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    h5 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align: justify;
    }
    ul {
        display: flex;
        align-items: center;
    }
    nav {
        display: flex;
        justify-content: center;
    }
    p {
        margin-inline-start: 68rem;
    }
}
/* Final footer para todas las html iguales */

// @import "./medias";